<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Victures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/all.min.css">
        <!-- Public -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Convert page -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/convert-page.css">
        <!-- Local -->
        <style type="text/css">
            .video-thumbnail-form {
                min-width: 300px;
                position: relative;
                width: 50%;
            }
            .video-thumbnail-form .video-thumbnail {
                width: 100%;
            }
        </style>
    </head>
    <body class="basis-background-color">
        <section class="vic-page">
            <article class="vic-page-nav container-xl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/video">Victure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/video">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/convert">Convert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon</a>
                            </li>
                        </ul>
                        <form class="form-search my-2 my-lg-0">
                            <input class="basis-input input-rounded-sm search-input" type="search" placeholder="Search" aria-label="Search" />
                            <span class="search-icon"><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </nav>
            </article>
            <article class="vic-page-body container-xl d-flex">
                <div class="left-side">
                    <div class="form-step h-65">
                        <div class="form-step-background"></div>
                        <span class="label-step finish"><i class="fa fa-check"></i></span>
                        <span class="label-step active">2</span>
                        <span class="label-step">3</span>
                    </div>
                </div>
                <div class="right-side">
                    <div class="form-convert h-65">
                        <div class="form-info">
                            <h5 class="form-title">Video infomation</h5>
                            <div class="video-box">
                                <div class="video-thumbnail-form">
                                    <img class="video-thumbnail" src="<%= info.thumbnail.url %>" />
                                </div>
                                <div class="video-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="video-content-subtitle">URL</label>
                                            <p class="video-title"><%= info.url %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="video-content-subtitle">Title</label>
                                            <p class="video-title"><%= info.title %></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="video-content-subtitle">Author</label>
                                            <p class="video-author"><%= info.author %></p>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="video-content-subtitle">Upload date</label>
                                            <p class="video-upload-date"><%= info.uploadDate %></p>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="video-content-subtitle">Duration</label>
                                            <p class="video-author"><%= info.duration %></p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="video-content-subtitle">Categories</label>
                                            <p class="video-author"><%= info.categories %></p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="video-content-subtitle">View count</label>
                                            <p class="video-upload-date"><%= info.viewCount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="video-content-subtitle">Description</label>
                                            <p class="video-description"><%= info.description %></p>
                                        </div>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                        <div class="form-button">
                            <a class="basis-button button-rounded-sm" name="prev" href="/convert/step/import">Prev</a>
                            <a class="basis-button button-rounded-sm" name="next" href="/convert/step/select">Next</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
        <!-- Local -->
        <script>
            $(document).ready(() => {
                
            });
        </script>
    </body>
</html>